@charset "utf-8";

/*
Theme Name:   	B0001975 - The Levee Was Dry
Theme URI:      http://lexblog.com
Description:    Child theme for the LXB Parent Theme 1.3
Author:         Angelo Carosio
Template:       lxb-parent-theme-1.3
Version:        1.4
*/


@import url("../lxb-parent-theme-1.3/style.css");

/*========================================================================================
UNIVERSALS
========================================================================================*/

body, 
input, 
select, 
[class^="icon-"] a, 
[class*=" icon-"] a {font-family: helvetica,sans-serif;}

.post-title, .archive-title, .blog-title, .widget-title, .footer_blog_title, .footer-firmname, .super_header {
	font-family: 'museo-slab';
}


.menu-toggle,
#wpadminbar, 
.main-navigation li:hover:before,
a, 
a span,
.sub-menu,
input {
	transition-property: opacity, left, top, height, width, padding, color, background-color;
	-webkit-transition: .35s ease-in-out;
	-moz-transition: .35s ease-in-out;
	-ms-transition: .35s ease-in-out;
	-o-transition: .35s ease-in-out;
	transition: .35s ease-in-out;
}


a.firm_logo,
.hide-text {
	overflow: hidden;
	white-space: nowrap;
	text-indent: 100%;
	display: block;
	padding: 0;
}

.clear_div {clear: both;}

body {
	font-size: 15px;
	line-height: 1.4em;
	color: #333;
}

.arrow {font-family: 'lucida-sans-unicode;'}


a { color: #46839f; }

a:hover {
	color: #727f43;
}


button,
input,
select,
textarea {
	border: 1px solid #ccc;
	background: #fff;
	color: #333;	
}

input [type="submit"] {
	background-color: #336699;
	color: #fff;
}

#ie7 * {zoom: 1}

#ie8 .hide-gt-800px {display: none;}


/*========================================================================================
FRAME
========================================================================================*/

/*full-width header & footer w/980 box for content*/
body {
background: #eacc9c url(images/bg.jpg) no-repeat top center;
}

#page {
	background: url(images/footer-bg.jpg) no-repeat bottom center;
}

body,
.blog-wrapper,
.blog-footer,
.blog-header,
.colophon,
.footer_top {
	box-shadow: none;
	margin: 0 auto; 
	width: 100%;
	max-width: 100%; 
	
}

.blog_header_inner_wrapper,
.super_header_inner_wrapper,
.main-wrapper,
.footer_top_inner_wrapper,
.blog-footer-inner-wrapper, 
.colophon-inner-wrapper, 
.sub-colophon-inner-wrapper { 
	margin: 0 auto;
	padding: 24px 0 0 0;
	max-width: 980px;
}

body .main-wrapper {
	padding: 0px;
	overflow: visible;
}



















/* =======================================================================================
SUPER HEADER
======================================================================================= */

body .super_header {
background: #46839f;
color: #fff;
padding: 0;
}

body .colophon {
	background: #46839f;
	color: #fff;
}




.super_header a {
	color: white;
}

.super_header li.current-menu-item a {
	color: #727f43;
}



.super_header a:hover { color: #f1a73c; }

.colophon-inner-wrapper, .super_header_inner_wrapper {
padding: 8px 0 13px 0;
overflow: visible;
position: relative;
}


.super_header_first {
	float: left;
}

.super_header_second {
float: right;
margin-top: 5px;
}


.super_header img.emblem {
position: absolute;
left: 50%;
top: 6px;
padding: 0;
z-index: 5;
margin-left: -38px;
}
 


/*super header first*/
.firm_logo {
background: url(images/logo.png) no-repeat left top;
height: 34px;
width: 242px;
}

@media (min--moz-device-pixel-ratio: 1.5),
        (-o-min-device-pixel-ratio: 3/2),
        (-webkit-min-device-pixel-ratio: 1.5),
        (min-device-pixel-ratio: 1.5),
        (min-resolution: 1.5dppx) {
  	.firm_logo {
    	background-image: url(images/logo-retina.png);
    	background-size: 242px 34px
	}
  	
}



/*GLOBAL MENU===========================================================================*/




.global ul {
	padding-right: 0;
}

.main-navigation li a,
.main-navigation li {
line-height: 16px;
font-size: 14px;
}

.main-navigation li a {
padding: 6px 16px;
font-size: 15px;
font-weight: 400;
}

.main-navigation li a:hover, .main-navigation li.current-menu-item a {
	color: #f2cf97;
}


.main-navigation li:nth-last-child(2) a {
	margin-right: 0;
	padding-right: 0;
}

.menu-toggle {
position: absolute !important;
right: 20px;
top: 15px;
white-space: nowrap;
padding: 0;
font-size: 12px;
line-height: 16px !important;
vertical-align: middle;
}

.menu-toggle i {
font-size: 21px;
vertical-align: middle;
line-height: 36px;
font-weight: 400;
}

body .main-navigation li.menu-item-search form {
	background-color: #fff;
}

/*drop-down-----------------------------------------------------------------------------*/





/*========================================================================================
HEADER
========================================================================================*/
.blog_header_inner_wrapper {
padding: 30px 20px 30px 40px;
text-align: center;
}

.blog_header_inner_wrapper > * {
	display: inline-block;
	vertical-align: top;

}

.blog_header_inner_wrapper > img {
	margin-right: 30px
}

.blog-title {
	font-size: 66px;
	line-height: 80px;
	font-weight: 900;
	color: white;
	padding-top: 3px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.blog-header .blog-title a {
padding-bottom: 12px;
position: relative;
	color: white;
	display: block;
	margin: 10px auto;
	text-align: center;}

.blog-title .copyright {
font-size: 30px;
}

.blog-title a .lxb_base_alternate_word {
color: white;
background: rgba(241, 167, 60, .8);
padding: 5px 30px 10px 30px;
vertical-align: top;
display: inline-block;
line-height: 72px;
font-size: 80px;
margin-top: 4px;
}

.blog-description {
	font-size: 21px;
	color: white;
	line-height: 1.2em;
	font-weight: 600;
	margin-bottom: 13px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.firm-byline {
	color: #a1a1a1;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: bold;
	line-height: 12px;
}













/*main-wrapper*/
.sidebar {
border: none;
padding: 30px 30px 0;
width: 28%;
background: #fff;
background: rgba(255,255,255, .85);
	box-shadow: 0 0 12px 0 rgba(0,0,0,.3); 
	border-top: 10px solid #46839f;
}

.main {
	padding: 40px;
	background: #fff;
	background: rgba(255,255,255, .85);
	box-shadow: 0 0 12px 0 rgba(0,0,0,.3); 
	width: 71%;
	border-top: 10px solid #46839f;
}





/*SIDEBAR===============================================================================*/

.sidebar .widget {
padding: 0;
font-size: 12px;
line-height: 1.45em;
margin-bottom: 40px;
}

.sidebar .widget-title {
	font-size: 15px;
	line-height: 1.2em;
	margin-bottom: 7px;
	font-weight: 900;
	color: #515739;
}


.search-box form {
	background: #fff;
	border: 1px solid #c8c3bd;
}

.search-box input {border: none;}

.search-box input[type='text'],
.search-box input[type='search'] {
	text-indent: 5px;
	color:#333;
}

.feedburner input[type="email"], .feedburner input[type="text"], .searchform input[type="text"] {
	padding-left: 0;
	right: 0;
}


.sidebar .connect li {
margin-right: 3px;
}

.sidebar .connect li i {
	font-size: 28px; 
	line-height: 28px;
	height: 28px;
	width: 28px;
}

.connect.just-icons li.feedburner-li {
	padding-top: 0px;
	margin-top: 9px;
}

.feedburner-widget-title {
	font-size: 13px;
	color: #333333;
font-weight: 400;
}


.feedburner-widget-title:hover {
	color: #333333;
}

.sidebar .connect .feedburner-widget-title .icon-envelope {
	font-size: 15px;
	line-height: 15px;
	width: 15px;
	height: 15px;
	color: #333;
}

.feedburner-li form { padding-top: 4px; }

.feedburner-li input[type='text'],
.feedburner-li input[type='email'],
.feedburner-li input[type='submit'] {
	width: 100%;
	display: block;
	position: relative;
	float: none;
	left: auto;
	right: auto;
	top: auto;
	padding: 5px;
	margin-bottom: 5px;
	text-indent: 0;
}

.feedburner-li input[type='submit'] {
margin-bottom: 0;
background: #727f43;
color: #fff;
font-weight: 400;
border-radius: 5px;
border: none;
padding: 7px 0;
height: auto;
}

#ie8 .feedburner-li input {
	width: 100%;
	position: static;
}

#ie8 .feedburner-li input[type='email'],
#ie8 .feedburner-li input[type='text'] {
	text-indent: 0 !important;
	padding-left: 5px !important;
}

#ie8 .sidebar .connect .feedburner-widget-title i {
	display: inline-block; 
	margin-right: 5px; 
	padding-right: 5px;
	position: relative;
	top: -2px;
}

.sidebar .editors img {
	float: none;
}

.sidebar .editors {
		color: #515739;
		border-bottom: 1px solid #727f43;
		padding-bottom: 10px;
}


.sidebar h4.editors-title {
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 5px;
	text-transform: uppercase;
	margin-left: 10px;
}

.sidebar .editors div {
	margin-left: 10px;
	font-size: 19px;
	font-family: 'myriad-pro';
	line-height: 22px;
}


.sidebar .links li {
	border-bottom: 1px solid #eae1d2;
}
/*post content*/

#breadcrumbs { font-size: 11px; border-bottom: 1px solid #c3ddee; padding-top: 20px; padding-bottom: 8px; line-height: 1.3em; text-transform: uppercase;} 

article.first {
margin-top: 0px;
}

.main .post-header { padding-bottom: 15px;}

.post-title {
	font-size: 28px;
	font-weight: 700;
	line-height: 1.2em;
}


.post-title a:hover {
	color: #f1a73c;
}

.post-byline,
.post-categories {
	font-size: 11px;
	line-height: 1.2em;
}

.main .author_images_wrap img {
width: 60px;
height: auto;
}

.post-content .vcard_wrap .vcard {
display: inline-block;
margin-right: 2%;
vertical-align: top;
}

.post-content .more-link { 
	margin-top: 10px; 
	display: block; 
	clear: both; 
	font-size: 15px;
	text-decoration: none;
}

.post-content blockquote {
left: 0;
padding-top: 20px;
width: 100%;
font-size: 15px;
font-weight: 500;
color: #333;
line-height: 1.4em;
font-family: 'museo-slab';
 padding: 20px 0 0 10%;
}

.post-content blockquote:before {
left: 0;
top: 28px;
 font-family: georgia ,serif;
 line-height: 50px;
color: #727f43;
font-size: 65px;
font-weight: 800;
}


.post-footer {border-bottom: 1px solid #cccccc; padding-bottom: 8px; }

.post-tools {margin-bottom: 15px; }

.post-print,
.post-comments,
.post-social {
    border-bottom: medium none;
    display: inline-block;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 0;
    vertical-align: middle;
}

.post-print i,
.post-comments i {
	border-right: 1px solid #cccccc; 
	font-size: 25px; 
	line-height: 25px; 
	padding-right: 12px; 
	margin-right: 10px;
    background: none;
    color: #beb7a5;
    padding-left: 0;
}

.main .post-social a {color: #beb7a5;}

.main .post-social.font-awesome a {
    padding: 0 8px 0 1px;
    font-size: 25px;
}

.post-social .icon-envelope-alt:before {
	content: '\f0e0';
}

.post-tags {
	font-size: 10px;
	line-height: 1.3em;
	text-transform: uppercase;
}

.post-tags a {
	font-size: 11px;}



/*BOTTOM==================================================================================*/

.pagination {
	margin-top: 20px;

}

.pagination i {
font-size: 15px;
}


.pagination .prev,
.pagination .next {
	width: 45%;
}

.pagination a {
	border-radius: 5px;
	background-color: #727f43;
	color: white;
	padding: 10px 13px;
	display: block;
	font-size: 15px;
	line-height: 18px;
	font-weight: 700;
	display: inline-block;
	
}

.blog-footer {
	border-top: 1px solid #ae8e50;
	background: white;
	background: rgba(255,255,255, .6);
}

.blog-footer-inner-wrapper {
padding: 25px 20px 35px 40px;
}










/*footer_top*/

.footer_top {
	border-bottom: 1px solid #c3ddee;
	padding: 20px 0;
	margin: 0;
}

.footer_top_inner_wrapper {
	padding: 0;
	margin: 0 auto;
}

.footer_top .widget {
	margin: 0;
}

.footer_blog_title a{
padding: 30px 40px;
display: block;
font-size: 25px;
font-weight: 900;
color: #555a3d;
}




.blog-footer .vcard {
	font-size: 11px;
}

.blog-footer .vcard:after {
content: ' | ';
color: #333;
display: inline-block;
margin: 0 3px;
}

.blog-footer .vcard:last-child:after {
	content: '';
}




/*footer-contact*/
.footer-contact {
	width: 36%;
}

.footer-contact .widget {
	display: block;
	float: none;
	width: 100%;
	overflow: hidden;
	clear: both;
}

.blog-footer .widget-title {
	margin-bottom: 6px;
		color: #515739;
		font-size: 15px;
}

.blog-footer .hosted {
font-size: 10px;
text-transform: uppercase;
color: #727f43;
}

.blog-footer .footer_firmname a {
display: block;
font-size: 15px;
font-family: 'museo-slab';
color: #515739;
font-weight: 900;
margin-bottom: 10px;
}


.contact-info {
	font-size: 11px;
	line-height: 1.2em;
	margin-top: 5px;
}

.contact-info .firm {
	margin-bottom: 10px;
}

.contact-info .phone {
	margin-top: 10px;
}

.blog-footer .connect li i {
	font-size: 28px;
	line-height: 28px;
}

.blog-footer .connect li:first-child a {
	padding-left: 0;
}

.legal a {
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 400;
}

.legal {
	padding: 0;
}








/*footer-extras*/

.footer-extras {
    overflow: hidden;
    text-align: left;
    width: 40%;
}

.footer-extras .widget {
width: 100%;
font-size: 12px;
line-height: 1.5em;
}


/*colophon*/
.colophon-inner-wrapper {
	overflow: hidden;
	color: #fff;
	padding: 5px 0;
}

.widget.lexblog {
	margin-right: 10px;
}

a.lexblog_2014 span.lexblog_slogan {
color: #fff;
}

.widget.copyright {	font-size: 11px; 
margin: 9px 30px 10px 20px;
}



.blog-footer .about-more {
	font-size: 12px;
}


.sub-colophon, .colophon {
padding: 0;
}






/*ARCHIVE PAGE===========================================================================*/
.archive-header {
	padding-top: 0px;
	padding-bottom:5px; 
}

.archive-header h1 {
	font-weight: 400;
	font-size: 28px;
	line-height: 1.2em;
}

.archive-header .feed {
	float: none;
	padding-left: 0;
	font-size: 12px;
	line-height: 1.2px;
}

.archive-header .feed i {
	color: #005295;
}

.grid-row {
	border-top: 1px solid #c3ddee;
	padding: 20px 0 0;
}

.grid-row .post-title {
	font-size: 15px;

}

.grid-row .post-header {
	padding-bottom: 1px;
}

.grid-row .post-byline,
.grid-row .post-categories {
	font-size: 11px;
}

.grid-row .post-content {
	font-size: 12px;
	line-height: 1.45em;
}

a.read_more { text-decoration: none; font-weight: bold; }






/*pages*/





/*CONTACT PAGE===========================================================================*/
.wpcf7-form {
	background-color: #eee2d3;
	border: 1px solid #cbc0b0;
}

.wpcf7-form input[type="text"] {
	width: 50%:
}

.wpcf7-form input[type='submit'] {
	color: #fff;
	font-weight: 400;
	font-size: 14px;
	background: #727f43;
	text-transform: uppercase;
	border: none;
	padding: 6px;
	width: 30%;
}




















/*SEARCH PAGE============================================================================*/
.search .main article {
	border-bottom: 1px solid #ccc;
}

.main .searchform {
	border: 1px solid #ccc;
}

.main .searchform input {
	border: none;
}

#ie8 .searchform, #ie9 .searchform {
	right: 0 !important;
}

#ie8 .searchform input[type="text"] {
	padding-left: 5px;
}











/*AUTHOR PAGE============================================================================*/

body.author .main {
	padding-top: 34px;
}

.main .lxb_dga_users {
	border-top: 1px solid #ccc;
}

.post-content .lxb_dga_user .authortitle{
margin-bottom: 10px !important;
}

.post-content .lxb_dga_user .lxb_dga_user_social {
margin-top: 10px !important;
}

.post-content .lxb_dga_user .lxb_dga_user_social a i {
	color: #c8c8c8;
}

.main .lxb_dga_users a {
	text-decoration: none;
}

.main .lxb_dga_users .dga_link_to_website {
	display: block;
	font-size: 14px;
	font-weight: 600;
}


.main .lxb_dga_users span {
	display: block;
}

body .main .lxb_dga_users .lxb_dga_user img {
	margin-top: 0;
	float: left;
}

.post-content .lxb_dga_user .description, .post-content .lxb_dga_user .authorshortbio, a.dga_link_to_archive {
	font-size: 14px;
	clear: both;
	
}





/* =======================================================================================
MEDIA QUERIES
======================================================================================= */




@media screen and (max-width: 1020px ) {
	body .super_header a.firm_logo {
		margin-left: 20px;
	}

	.colophon-inner-wrapper,
	.footer_top,
	body .blog-footer-inner-wrapper {
		padding-left: 20px;
		padding-right: 20px;
	}
	
	.widget.copyright {	font-size: 11px; 
margin-left: 0;
}

body .colophon {
padding-left: 0;
}

}

@media screen and (max-width: 980px ) {
	.global ul {
		padding-right: 30px;
	}
}




@media screen and (max-width: 800px ) {

#page {
	background-position: 45% 91%;
}
body .super_header a.firm_logo {
margin: 4px 0 0 10px;
width: 200px;
background-size: 100%;
}

.blog-header .blog-title a {
	font-size: 53px;
	text-align: left;
}

.blog-description {
	font-size: 19px;
}

.super_header img.emblem {
right: 15%;
left: auto;
margin: 0;
}

.blog-title a .lxb_base_alternate_word {
	font-size: 44px;
	line-height: 35px;
	padding: 5px 10px;
}


	.menu-toggle {

	}
	

.super_header_inner_wrapper {
padding-bottom: 0px;
min-height: 56px;
}

	.super_header_second {
		clear: both;
		width: 100%;
		position: static;
		float: none;
		padding: 0px;
	}

	.main-navigation {
		padding: 10px  0 0 0;
		clear: both;
	}
	
.global ul {
background: #eacc9c;
z-index: 1;
}

	body .main-navigation li {
		padding: 0;
		margin: 0px;
		display: block;
		border-bottom: 1px solid #d3ba8e;
		text-transform: uppercase;
		font-size: 15px;
		font-weight: 400;
		padding-left: 0;
	}
	
	body .main-navigation li.current-menu-item a, body .main-navigation li a:hover {
color: 	#727f43;
}

	body .main-navigation li a {
		display: inline-block;
		padding: 15px 10px 15px 20px;
		font-weight: 400;
		color: #46839f;
		text-transform: none;
	}

	body .main-navigation li.menu-item-search {
		background: white;
   		max-width: 100%;
   		width: 100%;
    	position: static;
    	padding: 10px 10px 10px 15px;
    }

    body .main-navigation li.menu-item-search form {

    }

   body .main-navigation li.menu-item-search form input {
   	border: none;
   }

   .blog_header_inner_wrapper {
   		padding: 15px 20px;
   	}

	body .blog_header_inner_wrapper > * {
	    display: block;
		margin: 0 auto;
		text-align: left;
	}

body .main-wrapper .main, body .main-wrapper .sidebar {
padding: 20px;
}
    
    body .main-wrapper {
	    border-left: 0;
	    border-right: 0;
    }

	.sidebar {
		border-top: 1px solid #c3ddee;
		padding-top: 20px;
		height: auto !important;
	}

	.sidebar .widget:last-child {
		margin-bottom: 0;
		padding-bottom: 30px;
	}

	.pagination {
		padding-top: 0;
		margin-top: 0;
	}

	body .footer-contact {
		text-align: left;
	}

	body .footer-extras {
		padding-bottom: 30px;
	}

	.lxb_dga_users_table .odd.row td, 
	.post-content table.lxb_dga_users_table td {
		display: block !important;
		width: 100% !important;
	}


	.main .author_images_wrap {
		display: none;
	}



}

@media screen and (max-width: 319px) {
  
  body .super_header a.firm_logo {
	  width: 175px;
  }
}

@media print {
	i, em {
		font-style: italic !important;
	}
	h1,h2,h3,h4,h5,h6,dt,b,strong {
		font-weight: 600 !important;
	}
}


